.root{
    color: white;
}
body{
    background-color: black;
}
.header{
    width: 100vw;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 25px;
}
.link{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color: black;
    padding: 6px;
    width: 70px;
    font-size: 13px;
    text-decoration: underline;
    border-radius: 8px;
}
.link a{
    color: black;
    text-decoration: none;
}
.header .link-top{
    margin-bottom: 20px;
}
/* -------------------------------------- */
.bg-titulo{
    margin-top: 80px;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    width: 100vw;
}
.titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 26px;
    height: 40px;
    width: 60%;
    background-color: rgb(20, 0, 199);
    border: 1px solid rgb(83, 83, 151);
    border-radius: 12px;
    margin-bottom: 50px;
}
/* ----------------------------------- */
.main-elements{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    background-color: rgb(35, 3, 150);
    color: white;
    max-height: 90%;
    min-height: 180px;
    width: 50%;
    border-radius: 10px;
    margin: 30px auto;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-elements .main-title{
    color: white;
    margin-bottom: 30px;
}
.main-elements .main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(29, 28, 28);
    color: white;
    overflow-x: hidden;
    height: 200px;
    width: 70%;
    margin: 2px;
    border-radius: 4px;
    font-size: 12px;
}
.main-elements .main-content input{
    margin-top: 10px;
    width: 50%;
    border-radius: 4px;
}
.main-elements .main-content input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.main-elements .main-content select{
    height: 20px;
    margin: 10px 0 0 5px;
    width: 100px;

}
.main-elements .main-content .tempo{
    width: 40px;
    margin-left:15px;
}

@media screen and (min-width: 300px) and (max-width: 500px) {
    .main-elements{
        width: 90%;
    }
    .labelEconomia{
        margin-left: 20px;
    }
    .main-elements .main-content select{
        margin-left: 10px;
    }
    .main-elements .main-content .tempo{
        margin-left: 25px;
    }
}